@model IMSmvc.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        background-image: url("https://img.freepik.com/free-photo/high-angle-forklift-blue-background_23-2149853122.jpg?t=st=1732540427~exp=1732544027~hmac=4e3328d577a64b50073027a467854c2db0b0c693c118cb08be583a2a41c272d6&w=740");
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        <br />
        @Html.AntiForgeryToken()
        <h4 style="text-decoration:underline">Change Password Form</h4>
        <br />
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Change password" class="btn btn-outline-dark" />
            </div>
        </div>
        <br />
        <br />
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}